
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-image: radial-gradient( #FF6EC7,#56CCF2);
}


header {
  padding-top: 12px;
}

.game-container{
  height:90vh;

}

.header{
  height: 300px;
  background-image: url("../images/pub-trivia-750-x-340.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

}

.welcome{
  padding-top: 21px;
  justify-content: center;
  color: #56CCF2;
}
 .play{
   height:99px;
 }
.btn{
  height: 100px;
  width: 170px;
  margin-top: 80px;
  background-color: #56CCF2;
}
.drinks-btn{

  background-color: #56CCF2;
}

.stats{
  display:flex;
  padding-bottom:10px;
}

.question {
margin-top: 12px;

}
.score {
margin-top: 12px;
margin-left: 421px;

}

.game-question{
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  height:33px;
  text-align: center;
  padding-bottom:155px;
  padding-top: 30px;
}

.answer-container{
  display: flex;
  margin-bottom: 12px;
  width:50%;
  font-size: 21px;
  /* border: solid black; */
}
.answer-row{
display: flex;
align-items: center;
border: solid black;
}

.answer-number{
  padding: 12px 21px;
  background-color:#56CCF2;
  border: solid pink;

}

.answer-option{
  width:45%;

  text-align: center;
  border: solid black;
}

.answer:hover{
width:100%;
cursor: pointer;

}
.hidden {
  display: none;
}


#win-modal{
  position: fixed;
  margin-top: 150px;
  /* margin-left: 300px; */
  /* height: 45vh; */
  background-color: blue;
  /* width: 30%; */
}

#drink-name, img{
  width: 100%;
  height: auto;
}

#play-again{
  background-color: #56CCF2;
}

h3{
  text-align: center;
}
